.card{
    width: 200px;
    height: auto;
    margin: 0px 20px;
}

.card-title{
    font-size: 20px;
}
.verProducto{
    font-weight: bold;
    border: none;
    background-color: #e3e3e3;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.verProducto:hover{
    background-color: black;
    color: #e3e3e3;
}