.card{
    max-width: 400px;
    color: black;
    width: 300px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: pink;
}

.card-title{
    font-size: 20px;
    font-weight: normal;
}
.verProducto{
    font-weight: bold;
    border: none;
    background-color: #e3e3e3;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.verProducto:hover{
    background-color: black;
    color: #e3e3e3;
}